html{
    font-size: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    color: #2D3142;
    line-height: 1.231;
    background-color: #111f5f;
}
p{
	padding-left: 30px;
	padding-right: 30px;
}
header{
	margin-left: auto;
	margin-right: auto;
	height: 250px;
	width: 65%;
	background-image: url("../../images/headerimage.jpg");
	background-size: 100%;
}
a:link, a:visited{
    color: #2D3142;
    text-align: center;
    text-decoration: none;
    background: none;
}
a:hover, a:active{
    text-decoration: underline;
}
h2{
    font-size: 30px;
}
input{
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
    height: 30px;
    font-size: 20px;
    padding-left: 5px;
}
input.submitbutton{
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: #2D3142;
    color: #E7E8E8;
    border: none;
    transition: 0.2s
}
input.submitbutton:hover, input.submitbutton:active{
    background-color: #E7E8E8;
    color: #2D3142;
    box-shadow: 0px 0px 20px #888888;
    cursor: pointer;
}
nav{
    width: 100%;
    /*margin-top: 100px;
    background-color: #2D3142;*/
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li{
    float: left;
    width: 20%;
    margin-top: 190px;
}
nav a:link, a:visited{
    display: block;
    height: 45px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    color: #E7E8E8;
    background-color: #2D3142;
    font-size: 1.6em;
    text-decoration: none;
    transition: 0.2s;
    text-align: center;
}
nav a:hover, a:active{
    color: #2D3142;
    background-color: #E7E8E8;
}
nav ul li.normal{
    float: none;
    width: 75%;
	margin-left: auto;
	margin-right: auto;
    margin-top: 10px;
}
nav ul li.normal:hover, nav ul li.normal:active{
    box-shadow: 0px 0px 20px #888888;
}
#container{
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    background-color: #E7E8E8;
}
section{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 30px;
    text-align: center;
}
section.regform{
    height: 780px;
    width: 50%;
    float: left;
    border-right: 3px solid #2D3142;
}

.date input{
    margin-bottom: 10px;
    padding: 5px;
    height: 30px;
    font-size: 20px;
    display: block;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    text-align: center;
}
input.regday{
    margin-left: 32.75%;
    width: 40px;
}
input.regmonth{
    width: 40px;
}
input.regyear{
    width: 62px;
}
section.loginform{
    height: 800px;
}
.userlevel input{
	margin-top: 10px;
}
table.songs{
	margin-left: auto;
	margin-right: auto;
	width: 65%;
	border-collapse: collapse;
	border: 2px solid #2D3142;
	
}
.songs th{
	background-color: #2D3142;
	color: #E7E8E8;
}
.songs th td{
	padding: 10px;
}
footer{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	color: #E7E8E8;
	width: 65%;
	height: 100px;
	background-color: rgba(45, 49, 66, 0.5);
}

a.hyperlink:link, a.hyperlink:visited{
	text-align: center;
	text-decoration: underline;
	background: none;
	color: #2D3142;
}
a.hyperlink:hover, a.hyperlink:active{
	background: none;
	color:#767fa2;
}
h3.footer{
	margin-left: auto;
	margin-right: auto;
	padding-top: 35px;
	text-align: center;
}